<div class="sidebar">
  <div class="container">
    <div class="list">
      <div class="place" ng-repeat="place in places" ui-sref="root.place({ id: place._id })">
        <div class="place__image" background-image="place.picture"></div>
        <div class="place__title" ng-bind="place.title"></div>
      </div>
    </div>
  </div>
</div>
  
<div class="map">
  <leaflet-map class="map__view" markers="places" config="config" on-marker-click="onMarkerClick(id)"></leaflet-map>
</div>
