html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

html {
  height: 100%;
}

body {
  height: 100%;
}

.content {
  padding-top: 165px;
  height: 100%;
}

.app {
  height: calc(100% - 165px);
}

@import 'pages/places_page.scss',
        'pages/home_page.scss', 
        'pages/place_page.scss',
        'pages/create_page.scss',
        'components/header.scss', 
        'components/fields.scss',
        'components/buttons.scss',
        'components/labels.scss';