<div class="place__info" ng-bind="place.description">
</div>

<!--<div class="place__image" ng-bind="place.picture">

</div>-->

<div class="update__form">
  <form ng-submit="update(UpdateForm)" name="UpdateForm">
    <div>
      <label class="labels">Update info</label>
      <textarea rows="10" cols="50" ng-model="place.description" class="area__field"></textarea>
    </div>
    <div>
      <input type="submit" value="Update Info" class="buttons" />
    </div>
  </form>
  <input type="submit" value="Delete Place" class="buttons" ng-click="remove()" />
</div>