.fields {
  width: 500px;
  height: 30px;
  font-size: 29px;
  float: left;
  clear: both;
  margin-left: 5px;
  border-radius: 5px;
}

.area__field {
  width: 500px;
  height: 100px;
  font-size: 14px;
  float: left;
  clear: both;
  margin-left: 5px;
  border-radius: 5px;
}