@font-face {
  font-family: font;
  src: url(fonts/journal.ttf);
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 165px;
  background-image: url(img/orn.png);
  font-family: font;
  z-index: 1;
}

.header__info {
  font-size: 30px;
  background: white;
  margin-top: 60px;
  border: 2px solid grey;
  border-right-width: 0;
  border-left-width: 0;
}

.header__title {
  float: left;
  cursor: pointer;
  margin-left: 5px;
}

ul.list li {
  display: inline;
  margin-left: 25px;
}

a {
  text-decoration: none;
}

a:visited {
  color: black;
}