<div class="form">
  <form ng-submit="create(CreateForm)" name="CreateForm">
    <div>
      <label class="labels">Title</label>
      <input type="text" ng-model="sight.title" class="fields" name="title" ng-minlength="5" ng-maxlength="50" required/>
      <p ng-show="CreateForm.title.$invalid && !CreateForm.title.$pristine" class="help-block">Title is required.</p>
      <p ng-show="CreateForm.title.$error.minlength" class="help-block">Title is too short.</p>
      <p ng-show="CreateForm.title.$error.maxlength" class="help-block">Title is too long.</p>
    </div>
    <div>
      <label class="labels">Latitude</label>
      <input type="number" step="any" ng-model="sight.lat" class="fields" name="latitude" required/>
      <p ng-show="CreateForm.latitude.$invalid && !CreateForm.latitude.$pristine" class="help-block">Latitude is required.</p>
      
    </div>
    <div>
      <label class="labels">Longitude</label>
      <input type="number" step="any" ng-model="sight.lng" class="fields" name="longitude" required/>
      <p ng-show="CreateForm.longitude.$invalid && !CreateForm.longitude.$pristine" class="help-block">Longitude is required.</p>
      
    </div>
    <div>
      <label class="labels">Description</label>
      <textarea class="area__field" ng-model="sight.description" name="description" required></textarea>
      <p ng-show="CreateForm.description.$invalid && !CreateForm.description.$pristine" class="help-block">Description is required.</p>
    </div>
    <div>
      <label class="labels">Picture</label>
      <input type="text" ng-model="sight.picture" class="fields" name="picture" required/>
      <p ng-show="CreateForm.picture.$invalid && !CreateForm.picture.$pristine" class="help-block">Picture is required.</p>
      
    </div>
    <div>
      <input type="submit" value="Create Place" class="buttons" ng-disabled="CreateForm.$invalid" />
    </div>
  </form>
</div>