.place__image {
  width: 50px;
  height: 50px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50%;
  border-radius: 50%;
  border: 2px solid grey;
}

.sidebar {
  width: 20%;
  height: 100%;
  float: left;
  overflow: auto;
}

.map {
  float: left;
  width: 80%;
  height: 100%;
}

.map__view {
  width: 100%;
  height: 100%;
}

.place__map-marker {
  border: 2px solid red;
  border-radius: 50%;
}

.list {
  
}
