<div class="header__info">
  <div class="header__title">
    <p>10 famous places in Belarus</p>
  </div>
  <div class="header__menu">
    <ul class="list">
      <li>
        <a ui-sref="root.places">Places</a>
      </li>
      <li>
        <a ui-sref="root.create-place">Add Place</a>
      </li>
    </ul>
  </div>
</div>
